<div class="container-flude mt-2 mb-3 p-0 user-select-none">
    <div class="container page-heading text-center p-0 bg-white rounded shadow">
        <h3 style="background-color: #131374"
            class="card-header p-2 text-light rounded border border-end-0 border-bottom-0 border-start-0 border-5 border-dark">
            <strong>Company Registration</strong>
        </h3>
    </div>
  
  <div class="container main-con mt-2 bg-white-subtle p-1  rounded">
    <form class="form">
    <div class="row basic-row ">
            <div class="col-lg-9 mb-2 ">
                <div class="card">
                    <div class="card-header p-1" style="background-color: #131374">
                        <h5 class="ms-1 mt-1 text-white"><b>Basic Information / मूलभूत जानकारी</b></h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <label>
                                        <b>Candidate's Name / उम्मीदवार का नाम</b></label>
                                    <input name="name" type="text" placeholder="NAME" id="CanName"  class=" form-control shadow rounded border-1 border-dark"/>
                                </div>
                            </div>  
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                        <b>Date of Birth / जन्म की तारीख</b></label>
                                    <input name="dob" type="date" placeholder="28-Feb-2001" id="ConDob"  class="form-control shadow rounded border-1 border-dark">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                        <b>Gender / लिंग</b></label>
                                    <input name="gender" type="text" placeholder="Male" id="CanGender"  class=" form-control shadow rounded border-1 border-dark">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                       <b>Category / वर्ग</b></label>
                                    <input name="category" type="text" placeholder="OBC (NON CREAMY LAYER)" id="CanCast"  class=" form-control shadow rounded border-1 border-dark">
                                    
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                        <b>Marital Status / वैवाहिक स्थिति </b>
                                    </label>
                                    <input name="mstatus" type="text" placeholder="0" id="CanMarital" class=" form-control shadow rounded border-1 border-dark">      
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                        <b>Age / उम्र</b>
                                    </label>
                                    <input name="ag" type="text" placeholder="0" id="CanAge"  class=" form-control shadow rounded border-1 border-dark">      
                                </div>
                            </div>            
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label><b>Father' Name / रिश्तेदार का प्रकार</b> </label>
                                    <label class="lbl-req">
                                        *</label>
                                    <input name="relative" type="text" placeholder="Father Name" id="CanRelativeType"  class=" form-control shadow rounded border-1 border-dark">
                                </div>
                            </div>
                    
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label><b>Mother's Name / माता का नाम</b></label>
                                    <input name="mname" type="text" placeholder="Mother Name" id="CanMother"  class=" form-control shadow rounded border-1 border-dark">
                                </div>
                            </div>

                            <div id="ContentPlaceHolder1_divNationality" class="col-lg-6">
                                <div class="form-group">
                                    <label><b>Nationality / नागरिकता</b></label>
                                    <input name="Nationality" type="text" placeholder="Indian" id="CanNationality"  class="form-control shadow rounded border-1 border-dark">
                                </div>
                            </div>
 
                            <div id="ContentPlaceHolder1_divDomicileCG" class="col-lg-6">
                                <div class="form-group">
                                    <label><b>Domicile of Chhatisgarh / छत्तीसगढ़ के निवासी</b></label>
                                    <input name="DomisileCG" type="text" placeholder="Yes Or No" id="CanDomisileCG" class=" form-control shadow rounded border-1 border-dark">
                                </div>
                            </div>

                            <div id="ContentPlaceHolder1_divDomicileDist" class="col-lg-6">
                                <div class="form-group">
                                    <label><b>District Domicile</b></label>
                                    <input name="DistrictDomecile" type="text" placeholder="Distric Name" id="CanDistrictDomecile"  class=" form-control shadow rounded border-1 border-dark">
                                </div>
                            </div>
                            
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                       <b>Email ID / ईमेल</b>
                                    </label>
                                    <input name="Email" type="text" placeholder="igkv@gmail.com" id="CanEmail" class="form-control shadow rounded border-1 border-dark">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label><b>Mobile No / मोबाइल नंबर</b></label>
                                    <input name="Mobile" type="text" placeholder="9999223311" id="CanMobile" class=" form-control shadow rounded border-1 border-dark">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label><b>Password / पासवर्ड </b></label>
                                    <input name="password" type="password" placeholder="Password" id="CanMobile" class=" form-control shadow rounded border-1 border-dark">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label><b>Re Enter Password / पुनः पासवर्ड</b></label>
                                    <input name="password" type="password" placeholder="Re-Password" id="CanMobile" class=" form-control shadow rounded border-1 border-dark">
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>


            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header  p-1 " style="background-color: #131374">
                        <h5 class="ms-1 mt-1 text-white">Photo Uploads / अपलोड
                        </h5>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-lg-12 d-flex justify-content-center">
                                <div class=" rounded shadow mb-1 border border-1 border-dark" style="background-image: url('./../assets/register/prof-bg.jpg'); background-size: cover; background-position: center; width: 200px; height: 252px;">
                                    <img id="imgUpload" class="img-thumbnail bg-transparent rounded"  style="height:250px;width:200px;">
                                </div>
                            </div>
                            <hr class="brline p-0 m-0 mt-1"/>
                   
                            <hr class="brline p-0 m-0 mt-1"/>

                            <div class="upload-option1 mt-1">
                                <label for="files"><i class="fa-solid fa-user-graduate"></i> <b> Select Profile Image File</b></label>
                                <input class="form-control form-control shadow rounded border-1 border-dark bg-primary-subtle" id="ProImgFile" type="file" title ="Please Choose User Profile Image" />
                               </div>
                               <hr class="brline p-0 m-0 mt-2"/>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <!--  Basic + Img row1 -->
 
        <div class="row address-row mt-2 ">
            <div class="col-lg-12 mb-1 ">
                <div class="card">
                    <div class="card-header  p-1" style="background-color: #131374">
                        <h5 class="ms-1 mt-1 text-white"><b> Permanent Address / स्थायी पता</b></h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                        <b>House No / मकान नंबर</b></label>
                                    <input name="HouseNo" type="text" id="PHouseNo"  class=" form-control shadow rounded border-1 border-success">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                        <b>Street / स्ट्रीट</b></label>
                                    <input name="PStreet" type="text" placeholder="Street Name" id="PStreet"  class="form-control shadow rounded border-1 border-success">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                        <b>City/Village / शहर / गांव</b></label>
                                    <input name="PCity" type="text" placeholder="City Name" id="PCity"  class="form-control shadow rounded border-1 border-success">
                                </div>
                            </div>
                            <div class="col-lg-6" style="Display:None">
                                <div class="form-group">
                                    <label>
                                       <b> Post Office / पोस्ट ऑफिस</b></label>
                                    <input name="PPost" type="text" id="PPost" placeholder="Post Office Name"  class="form-control shadow rounded border-1 border-success">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                        <b>State / राज्य</b></label>
                                    <input name="PState" type="text" placeholder="State Name" id="PState" class=" form-control shadow rounded border-1 border-success">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                        <b>District / जिला</b></label>
                                    <input name="district" type="text" placeholder="District Name" id="PDist" class=" form-control shadow rounded border-1 border-success">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                       <b>Pin Code / पिनकोड</b></label>
                                    <input name="pin" type="text" placeholder="4962010" id="PPin"  class="form-control shadow rounded border-1 border-success">
                                </div>
                            </div>
                            <div class="col-lg-6" style="Display:None">
                                <div class="form-group">
                                    <label>
                                        <b>Region / क्षेत्र</b></label>
                                    <input name="PRegion" type="text" id="PRegion"class="form-control rounded border-1 border-success">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>       
        </div>

        <!-- Address Row -->
        <div class="mt-2 d-flex justify-content-evenly pt-4 pb-3 rounded-top bg-white border border-1 border-dark">
            <button type="submit" class="btn btn-outline-success text-white fs-5" style="background-color:#192a56;">
                <b>Register<i class="fa-solid fa-right-to-bracket fa-1x"></i></b>
            </button>
            <button type="reset"  class="btn btn-outline-info text-white fs-5" style="background-color:#192a56;">
                <b>Reset <i class="fa-solid fa-repeat fa-1x"></i></b>
            </button>
            <button type="submit" class="btn  btn-outline-dark text-white fs-5"
                routerLink="/home" style="background-color:#192a56;">
                <b><i class="fa-solid fa-close fa-1x"></i>Cancel</b>
            </button>
        </div>

    </form>

<div class="rounded-bottom border border-dark border-1 p-1 text-center m-0 bg-dark text-light fw-bold">
<a class="text-light" href="#">User Manual</a> ||
<a class="text-light" href="#">User Instruction</a> ||
<small class="text-primary register-text">If Already have an account !..
</small>
<a class="text-warning" routerLink="/login" href="#"><b>Login</b></a>
</div>

<!-- main-con maain  -->
</div>
</div>