<main>
  
  <app-header></app-header>
    <div class="container-fluid">
  
  
  <br><br>
  <!--Contact page -->
  
  <div class="card contact-card">
      <div class="card-body-center">
        <h2 class="card-title">CONTACTS</h2>
        <ul class="list-unstyled">
          <li>
            <i class="fa-solid fa-house"></i>
            Indira Gandhi Krishi Vishwavidyalaya, Krishak Nagar, Raipur, Chhattisgarh 492012
          </li>
          <li>
            <i class="fa-solid fa-phone"></i>
            077124 42537
          </li>
          <li>
            <i class="fa-solid fa-envelope"></i>
                <a href="igkv@gmail.com">IGKV</a>
          </li>
          <li>
            <i class="fa-solid fa-globe"></i>
            <a href="https://igkv.ac.in" target="_blank">https://igkv.ac.in</a>
          </li>
        </ul>
      </div>
    </div>
   
  
    
  
  
  <!--End contact-->
  <br><br><br><br><br>
    
  <!-- Footer -->
  <app-footer></app-footer>
  </div>
  </main>