<main>
  <div class="container">

<!--Header -->
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <a class="navbar-brand" href="#">
        <img src="https://igkv.ac.in/Images/img/logo_with_name2.png" alt="Logo" style="width: 13rem; height: 2rem;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
<!--End header-->


<!--Contact page -->

<div class="card contact-card">
    <div class="card-body-center">
      <h2 class="card-title">CONTACTS</h2>
      <ul class="list-unstyled">
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
              </svg>
            <i class="bi bi-house-door"></i>
          Indira Gandhi Krishi Vishwavidyalaya, Krishak Nagar, Raipur, Chhattisgarh 492012
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
              </svg>
          <i class="bi bi-telephone"></i> 
          077124 42537
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
              </svg>
              <a href="igkv@gmail.com">igkv</a>
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe-central-south-asia" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M4.882 1.731a.48.48 0 0 0 .14.291.487.487 0 0 1-.126.78l-.291.146a.7.7 0 0 0-.188.135l-.48.48a1 1 0 0 1-1.023.242l-.02-.007a1 1 0 0 0-.462-.04 7 7 0 0 1 2.45-2.027m-3 9.674.86-.216a1 1 0 0 0 .758-.97v-.184a1 1 0 0 1 .445-.832l.04-.026a1 1 0 0 0 .152-1.54L3.121 6.621a.414.414 0 0 1 .542-.624l1.09.818a.5.5 0 0 0 .523.047.5.5 0 0 1 .724.447v.455a.8.8 0 0 0 .131.433l.795 1.192a1 1 0 0 1 .116.238l.73 2.19a1 1 0 0 0 .949.683h.058a1 1 0 0 0 .949-.684l.73-2.189a1 1 0 0 1 .116-.238l.791-1.187A.45.45 0 0 1 11.743 8c.16 0 .306.084.392.218.557.875 1.63 2.282 2.365 2.282l.04-.001a7.003 7.003 0 0 1-12.658.905Z"/>
              </svg>
          <i class="bi bi-globe"></i> 
          <a href="https://igkv.ac.in" target="_blank">https://igkv.ac.in</a>
        </li>
      </ul>
    </div>
  </div>
  </div>

  

</main>
<!--End contact-->

  
<!-- Footer -->
<footer
        class="text-center text-lg-start text-white"
        style="background-color: #bab9f8b2"
        >
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Links -->
    <section class="section-footer">
      <!--Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h1 class="text-uppercase mb-4 font-weight-bold">
            Company 
          </h1>
          <p>
           IGKV is an Educational Institute that provide education and set way to bright future for students (work hard and take job)
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h1 class="text-uppercase mb-4 font-weight-bold">Link</h1>
          <p>
            <span class="golink"><a href="#">HOME</a> </span>
          </p>
          <p>
            <span class="golink"><a href="#">ABOUT US</a> </span>
          </p>
          <p>
             
            <span class="golink"><a href="#">CONTACT US</a> </span>
          </p>
          <p>
            
            <span class="golink"><a href="#">LOGIN</a> </span>
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h1 class="text-uppercase mb-4 font-weight-bold">
            Other links
          </h1>
          <p>
            <a class="text-white">www.igkv.in</a>
          </p>
          <p>
            <a class="text-white">www.croppdoctor.in</a>
          </p>
          <p>
            <a class="text-white">wwww.igkv_alumni</a>
          </p>
          <p>
            <a class="text-white">www.igkv_repository</a>
          </p>
        </div>

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h1 class="text-uppercase mb-4 font-weight-bold">Contact</h1>
          <p><i class="fa fa-instagram"></i> igkv_instapage</p>
          <p><i class="fa fa-facebook"></i> pageIGKV</p>
          <p><i class="fa fa-google-plus-square"></i>www.igkv.in</p>
          <p><i ><mat-icon style="padding-top: 4px;">phone_in_talk</mat-icon></i>  91 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>

       <!-- Section: Copyright -->
       <hr>
    <div class="container text-dark">
      <div class="Disclaimer text-center">
       <strong class="text-white">Disclaimer</strong><br>
           Designed & Developed By: ..and....( National Informatics Centre Chhattisgarh State Centre), Raipur © 2024 The contents are owned by IGKV, Raipur.
         <p>Copyright © 2024  igkv®. All rights reserved.</p> 
      </div>
      </div>
    <!-- Section: Copyright -->
      <!--Grid row-->
    </section>
    <!-- Section: Links -->

    <hr class="my-3">

   
  </div>
  <!-- Grid container -->
</footer>
<!-- Footer -->

<!-- End of .container -->

  

