<main>
  <div class="container">

<!--Header -->
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <a class="navbar-brand" href="#">
        <img src="https://igkv.ac.in/Images/img/logo_with_name2.png" alt="Logo" style="width: 13rem; height: 2rem;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
<!--End header-->


<!--Contact page -->

<div class="card contact-card">
    <div class="card-body-center">
      <h2 class="card-title">CONTACTS</h2>
      <ul class="list-unstyled">
        <li>
          <i class="fa-solid fa-house"></i>
          Indira Gandhi Krishi Vishwavidyalaya, Krishak Nagar, Raipur, Chhattisgarh 492012
        </li>
        <li>
          <i class="fa-solid fa-phone"></i>
          077124 42537
        </li>
        <li>
          <i class="fa-solid fa-envelope"></i>
              <a href="igkv@gmail.com">IGKV</a>
        </li>
        <li>
          <i class="fa-solid fa-globe"></i>
          <a href="https://igkv.ac.in" target="_blank">https://igkv.ac.in</a>
        </li>
      </ul>
    </div>
  </div>
  </div>

  

</main>
<!--End contact-->

  
<!-- Footer -->
<footer
        class="text-center text-lg-start text-white"
        style="background-color: #bab9f8b2"
        >
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Links -->
    <section class="section-footer">
      <!--Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h1 class="text-uppercase mb-4 font-weight-bold">
            Company 
          </h1>
          <p>
           IGKV is an Educational Institute that provide education and set way to bright future for students (work hard and take job)
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h1 class="text-uppercase mb-4 font-weight-bold">Link</h1>
          <p>
            <span class="golink"><a href="#">HOME</a> </span>
          </p>
          <p>
            <span class="golink"><a href="#">ABOUT US</a> </span>
          </p>
          <p>
             
            <span class="golink"><a href="#">CONTACT US</a> </span>
          </p>
          <p>
            
            <span class="golink"><a href="#">LOGIN</a> </span>
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h1 class="text-uppercase mb-4 font-weight-bold">
            Other links
          </h1>
          <p>
            <a class="text-white">www.igkv.in</a>
          </p>
          <p>
            <a class="text-white">www.croppdoctor.in</a>
          </p>
          <p>
            <a class="text-white">wwww.igkv_alumni</a>
          </p>
          <p>
            <a class="text-white">www.igkv_repository</a>
          </p>
        </div>

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h1 class="text-uppercase mb-4 font-weight-bold">Contact</h1>
          <p><i class="fa-brands fa-instagram"></i> igkv_instapage</p>
          <p><i class="fa-brands fa-facebook"></i> pageIGKV</p>
          <p><i class="fa-brands fa-square-google-plus"></i> www.igkv.in</p>
          <p><i ><mat-icon style="padding-top: 4px;">phone_in_talk</mat-icon></i>  91 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>

       <!-- Section: Copyright -->
       <hr>
    <div class="container text-dark">
      <div class="Disclaimer text-center">
       <strong class="text-white">Disclaimer</strong><br>
           Designed & Developed By: ..and....( National Informatics Centre Chhattisgarh State Centre), Raipur © 2024 The contents are owned by IGKV, Raipur.
         <p>Copyright © 2024  igkv®. All rights reserved.</p> 
      </div>
      </div>
    <!-- Section: Copyright -->
      <!--Grid row-->
    </section>
    <!-- Section: Links -->

    <hr class="my-3">

   
  </div>
  <!-- Grid container -->
</footer>
<!-- Footer -->

<!-- End of .container -->

  

