<main>
  <div class="container">

<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <a class="navbar-brand" href="#">
        <img src="https://igkv.ac.in/Images/img/logo_with_name2.png" alt="Logo" style="width: 13rem; height: 2rem;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
<br> <br>
  <div class="card contact-card">
    <div class="card-body-center">
      <h1 class="card-title">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-book-fill" viewBox="0 0 16 16">
            <path d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
          </svg>
        ABOUTS
    </h1>
      <ul class="list-unstyled">
        <li>
           Indira Gandhi Krishi Vishwavidyalaya (IGKV) is located in Raipur, the capital city of the state of Chhattisgarh in central India.The university 
           was established on January 20, 1987, and is named after the former Prime Minister of India, Indira Gandhi, in her honour.IGKV has a primary mandate 
           to provide education, conduct research, and offer extension services in the field of agriculture and related areas.The university offers a wide range 
           of academic programs, including undergraduate, postgraduate, and doctoral programsin various agricultural disciplines.These programs cover fields such
           as agronomy, horticulture, soil science, plant pathology, entomology,agricultural engineering, and more.IGKV has several affiliated and constituent    
           colleges across Chhattisgarh. These colleges play a crucial role in delivering quality agricultural education and hands-on training to students. IGKV is 
           actively involved in agricultural research, with a focus on improving agricultural practices and addressing regional challenges.This research is aimed at 
           increasing crop productivity, sustainability, and the overall well-being of farmers in Chhattisgarh.IGKV operates various research stations across different 
           agro-climatic zones within the state. These stations conduct region-specific research to address the unique agricultural needs and challenges of each area.
           The university conducts research on a variety of crops, including cereals (such as rice and wheat), pulses (like chickpeas and lentil etc), oilseeds (such as 
           soybeans and groundnuts etc), and fruits (including mangoes, citrus fruits, and others).This research contributes to the development of better agricultural 
           practices for these crops in Chhattisgarh. The university provides extension services to disseminate agricultural knowledge, best practices, and technological 
           advancements to the farming community in Chhattisgarh. These services help bridge the gap between research and practical application for farmers. Indira Gandhi
           Krishi Vishwavidyalaya is a crucial institution in Chhattisgarh, contributing to the development of the agricultural sector, education, and research in the state. 
           Its work plays a vital role in improving agricultural practices and the lives of farmers in the region.
        </li>
    </ul>
    </div>
    </div>
    <br><br>
    <div class="card contact-card">
      <div class="card-body-center">
    <h1 class="card-title">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
            <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
            <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
            <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
          </svg>
        HISTORY
    </h1>
    <ul>
        <li>
            Indira Gandhi Krishi Vishwavidyalaya, Raipur has a long historical background. In the British regime, agricultural research station at "Labhandi Farm" was established in 1903 which has grown today as Indira Gandhi Krishi Vishwavidyalaya. During mid sixties, this centre was established as Rice Research Station and was converted to Madhya Pradesh Rice Research Institute during 1974. The College of Agriculture, Raipur was established in 1961. In 1979, the center was upgraded as Zonal Agricultural Research Station (ZARS). Indira Gandhi Krishi Vishwavidyalaya, is an autonomous, nonprofit, research and educational organization working for the up-liftment of farmer's livelihood of Chhattisgarh. Education, Research and Extension are the major activities of the Vishwavidyalaya.
        </li>
    </ul>
    </div>
 </div>
        
</div>
</main>
 <!-- Footer -->
<footer
class="text-center text-lg-start text-white"
style="background-color: #bab9f8b2"
>
<!-- Grid container -->
<div class="container p-4 pb-0">
<!-- Section: Links -->
<section class="section-footer">
<!--Grid row-->
<div class="row">
<!-- Grid column -->
<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
  <h1 class="text-uppercase mb-4 font-weight-bold">
    Company 
  </h1>
  <p>
   IGKV is an Educational Institute that provide education and set way to bright future for students (work hard and take job)
  </p>
</div>
<!-- Grid column -->

<hr class="w-100 clearfix d-md-none" />

<!-- Grid column -->
<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
  <h1 class="text-uppercase mb-4 font-weight-bold">Link</h1>
  <p>
    <span class="golink"><a href="#">HOME</a> </span>
  </p>
  <p>
    <span class="golink"><a href="/about">ABOUT US</a> </span>
  </p>
  <p>
     
    <span class="golink"><a href="/contact">CONTACT US</a> </span>
  </p>
  <p>
    
    <span class="golink"><a href="/login">LOGIN</a> </span>
  </p>
</div>
<!-- Grid column -->

<hr class="w-100 clearfix d-md-none" />

<!-- Grid column -->
<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
  <h1 class="text-uppercase mb-4 font-weight-bold">
    Other links
  </h1>
  <p>
    <a class="text-white">www.igkv.in</a>
  </p>
  <p>
    <a class="text-white">www.croppdoctor.in</a>
  </p>
  <p>
    <a class="text-white">wwww.igkv_alumni</a>
  </p>
  <p>
    <a class="text-white">www.igkv_repository</a>
  </p>
</div>

<!-- Grid column -->
<hr class="w-100 clearfix d-md-none" />

<!-- Grid column -->
<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
  <h1 class="text-uppercase mb-4 font-weight-bold">Contact</h1>
  <p><i class="fa fa-instagram"></i> igkv_instapage</p>
  <p><i class="fa fa-facebook"></i> pageIGKV</p>
  <p><i class="fa fa-google-plus-square"></i>www.igkv.in</p>
  <p><i ><mat-icon style="padding-top: 4px;">phone_in_talk</mat-icon></i>  91 234 567 89</p>
</div>
<!-- Grid column -->
</div>

<!-- Section: Copyright -->
<hr>
<div class="container text-dark">
<div class="Disclaimer text-center">
<strong class="text-white">Disclaimer</strong><br>
   Designed & Developed By: ..and....( National Informatics Centre Chhattisgarh State Centre), Raipur © 2024 The contents are owned by IGKV, Raipur.
 <p>Copyright © 2024  igkv®. All rights reserved.</p> 
</div>
</div>
<!-- Section: Copyright -->
<!--Grid row-->
</section>
<!-- Section: Links -->

<hr class="my-3">


</div>
<!-- Grid container -->
</footer>
<!-- Footer -->

<!-- End of .container -->



