<app-header></app-header>
<!-- navbar liks  -->
 
<!-- All contant show hear  -->
<div class="container-flude mt-2 p-1 mb-3">
    <div class="container page-heading text-center p-0 bg-white rounded shadow">
        <h3 style="background-color: #0061b6"
            class="card-header p-2 text-light rounded border border-end-0 border-bottom-0 border-start-0 border-5 border-warning">
            <strong>Recruitment Notifications</strong>
        </h3>

        <div class="container mt-2 pb-5 p-2">
            <!-- code -->
            <div class="container p-0">
                <div class="table-responsive p-0 shadow rounded">

                  <table class="table table-bordered table-striped border-3 border border-dark rounded ">
                    <thead class=" thead table-dark p-0 border">
                      <tr class="fw-blod p-0 border border-white">
                        <th class="">Post</th>
                        <!-- <th class="">Description</th> -->
                        <th class="">Company</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>PDF File</th>
                        <th>Apply Now</th>
                      </tr>
                    </thead>
                    <tbody class="tbody" *ngFor="let vacancy of data">
                      <tr>
                        <td>{{ vacancy.Job_Title }}</td>
                        <td>{{ vacancy.Company_Id }}</td>
                        <td>11/12/2023</td>
                        <td>31/12/2023</td>
                        <td><i class="fa-solid fa-file-pdf"></i><a href="#" target="_blank"><small>View (4 MB)</small></a></td>
                        <!-- <td><button class="btn btn-primary">Apply</button></td> -->
                        <td><a [routerLink]="['/login']" class="card-link"> Apply Now</a> </td>
                      </tr>

                
                    </tbody>
                  </table>

                </div>
              </div>


    </div>
</div>
</div>



<!-- <div class="card" style="height: 150px;" >
    <marquee class="notification_body " style="margin: 20px;" behavior="scroll" direction="up" scrollamount="3" scrolldelay="10" onmouseover="this.stop();" onmouseout="this.start();">
      <div class="row">
        <div class="mt-4" *ngFor="let vacancy of data">
            <span class="card-subtitle mb-2 text-muted" hidden>VID: {{ vacancy.Vacancy_ID }} </span>
          
                    <span class="card-title"vgc                                                                                                                                                                                                                                                                                                                                       fg><img src="https://img.icons8.com/?size=100&id=mIQ6moZZHoBs&format=png&color=000000" width="20px"  height="15px" alt="" srcset="">  Last Date : {{ vacancy.Last_Date_for_apply | date }} </span>
                    <span class="card-title">Post : {{ vacancy.Job_Title }} </span>
                    <span class="card-title">Company : {{ vacancy.Company_Id }} </span>
                    <span class="card-title">Post No : {{ vacancy.Vacancy_ID }} </span>
                    <a [routerLink]="['/login']" class="card-link"> Apply Now</a> 
                    <a [routerLink]="['/login']" class="card-link"> More</a>
        </div>
    </div>
    </marquee>
</div> -->

