<!-- toolbar.component.html -->
 
<mat-toolbar class="custom-toolbar shadow">
  <button mat-icon-button class="neumorphic-button" class="example-icon" aria-label="Toggle Sidebar"
    (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  &nbsp;
  <img src="https://igkv.ac.in/Images/img/logo_with_name2.png" width="210px" height="40px" alt="" srcset="">
  <span class="example-spacer"></span>
  <button mat-icon-button class="notification-icon" aria-label="Notification icon button">
    <mat-icon>notifications</mat-icon>
  </button>
  &nbsp;

  <!-- <button mat-button routerLink="/company/c-profile" routerLinkActive="active" class="neumorphic-button">
    Profile
  </button> -->
</mat-toolbar>

