<div class="container mt-3">
    <h2>Company Profile</h2>
    <div class="row">
        <div class="col-md-3">
            <!-- Company Logo -->
            <img src="company-logo.png" alt="Company Logo" class="img-fluid">
        </div>
        <div class="col-md-9">
            <!-- Company Information -->
            <h3>Company Name</h3>
            <p><strong>Description:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et est in elit tempus hendrerit.</p>
            <p><strong>Contact Information:</strong></p>
            <ul>
                <li>Email: infocompany.com</li>
                <li>Phone: +1 123-456-7890</li>
                <li>Address: 123 Street, City, Country</li>
            </ul>
            <p><strong>Website:</strong> <a href="http://www.company.com">www.company.com</a></p>
        </div>
    </div>
</div>
