 


<!-- oringinal  -->

<div class=" container container-flude mt-2 mb-3 p-0 user-select-none">
    <div class="container page-heading text-center p-0 bg-white rounded shadow">
   
    </div>

    <div class="container main-con mt-2 bg-white-subtle p-1  rounded">
        <form class="form" #NgForm="ngForm" enctype="multipart/form-data">
            <div class="row basic-row ">
                <div class="#">
                    <div class="card">
                        <div class="card-header p-1" style="background-color: #3aaaff">
                            <h5 class="ms-1 mt-1 text-white"><b>Update Vacancy</b></h5>
                        </div>

                        <mat-stepper>
                            <mat-step>
                                <div class="card-body">
                                    <div class="row">

                                        <ng-template matStepLabel="content">Vacancy ID</ng-template>
                                        <h2>Personal_Details</h2>
                                        <div class="col-lg-4 ">
                                            <div class="form-group">
                                                <label for="Vacancy_ID">Vacancy ID</label>
                                                <input type="text" class="form-control " [(ngModel)]="vacancydata.Vacancy_ID" id="Vacancy_ID"   name="Vacancy_ID" ngModel required>
                        
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="Company_Id">Company ID</label>
                                                <input type="text" class="form-control" [(ngModel)]="vacancydata.Company_Id"  id="Company_Id" name="Company_Id" ngModel required> 

                                                <label for="Company_Registration_No">Company Registration No</label>
                                                <input type="text" class="form-control" [(ngModel)]="vacancydata.Company_Registration_No" id="Company_Registration_No" name="Company_Registration_No"ngModel>
                                              
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                 
                                                <label for="Job_Title">Job Title</label>
                                                <input type="text" class="form-control" [(ngModel)]="vacancydata.Job_Title" id="Job_Title" name="Job_Title" ngModel>
                                    
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                        <div class="form-group">
                                               
                                                <label for="Job_Description">Job Description</label>
                                                <textarea class="form-control" [(ngModel)]="vacancydata.Job_Description" id="Job_Description" name="Job_Description" rows="4" ngModel></textarea>
                    
                                        </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                    
                                                <label for="Job_Selection">Job Selection</label>
                                                <input type="text" class="form-control" [(ngModel)]="vacancydata.Job_Selection" id="Job_Selection" name="Job_Selection" ngModel>

                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                
                                                <label for="Job_Location">Job Location</label>
                                                <input type="text" class="form-control" [(ngModel)]="vacancydata.Job_Location" id="Job_Location" name="Job_Location" ngModel>                             
 
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                
                                                <label for="No_Of_Post">Number of Posts</label>
                                                <input type="number" class="form-control" [(ngModel)]="vacancydata.No_Of_Post" id="No_Of_Post" name="No_Of_Post" ngModel>
            
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                
                                                <label for="Salary">Salary</label>
                                                <input type="text" class="form-control" [(ngModel)]="vacancydata.Salary" id="Salary" name="Salary" ngModel>

                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                               
                                                <label for="Last_Date_for_apply">Last Date to Apply</label>
                                                <input type="text" class="form-control" [(ngModel)]="vacancydata.Last_Date_for_apply" id="Last_Date_for_apply" name="Last_Date_for_apply" ngModel>
                                                <input type="date" class="form-control" [(ngModel)]="vacancydata.Last_Date_for_apply" id="Last_Date_for_apply" name="Last_Date_for_apply" ngModel>
                                                 
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                
                                                <label for="Min_Experience_in_Year">Minimum Experience (Years)</label>
                                                <input type="number" class="form-control" [(ngModel)]="vacancydata.Min_Experience_in_Year" id="Min_Experience_in_Year" name="Min_Experience_in_Year" ngModel>
                                              
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                        <div class="form-group">
                                                 
                                                <label for="Maximum_Age">Maximum Age</label>
                                                <input type="number" class="form-control" [(ngModel)]="vacancydata.Maximum_Age" id="Maximum_Age" name="Maximum_Age" ngModel>
                                           
                                        </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                 
                                                <label for="Preferred_Gender">Preferred Gender</label>
                                                <input type="text" class="form-control" [(ngModel)]="vacancydata.Preferred_Gender" id="Preferred_Gender" name="Preferred_Gender" ngModel> 
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                        <div class="form-group">
                                                <label for="Prefered_Language">Preferred Language</label>
                                                <input type="text" class="form-control" [(ngModel)]="vacancydata.Prefered_Language" id="Prefered_Language" name="Prefered_Language" ngModel> 
                                        </div>
                                        </div>
                                       

                                        <button mat-button matStepperNext>Next</button>

                                    </div>
                                </div>
                            </mat-step>


                            <!-- stap second -->
                            <mat-step>
                                <div class="card-body">
                                    <div class="row">
                                        <h2>second</h2>
                                        <ng-template matStepLabel="content">SecondContent</ng-template>
                                         



                                        <!-- <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="Status">Status</label>
                                                <input type="text" class="form-control" [(ngModel)]="vacancydata.Status" id="Status" name="Status" value="Pending" ngModel>
                                                                                     
                                            </div>
                                        </div> -->
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="Created_By">Created By</label>
                                                <input type="text" class="form-control" [(ngModel)]="vacancydata.Created_By" id="Created_By" name="Created_By" ngModel>
                                                                            
                                            </div>
                                        </div>


                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="Created_Date">Created Date</label>
                                                 <input type="datetime-local" class="form-control" [(ngModel)]="vacancydata.Created_Date" id="Created_Date" name="Created_Date" ngModel>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="Modified_By">Modified By</label>
                                                <input type="text" class="form-control" [(ngModel)]="vacancydata.Modified_By" id="Modified_By" name="Modified_By" ngModel>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="Modified_Date">Modified Date</label>
                                                <input type="datetime-local" class="form-control" [(ngModel)]="vacancydata.Modified_Date" id="Modified_Date" name="Modified_Date" ngModel>

                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="Delete_Flag">Delete Flag</label>
                                                <input type="text" class="form-control" [(ngModel)]="vacancydata.Delete_Flag" id="Delete_Flag" name="Delete_Flag" ngModel>                                   
                                                

                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="Public_IP_Address">Public IP Address</label>
                                                <input type="text" class="form-control" [(ngModel)]="vacancydata.Public_IP_Address" id="Public_IP_Address" name="Public_IP_Address" ngModel>
                                                                                          
                                                


                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="Private_IP_Address">Private IP Address</label>
                                                <input type="text" class="form-control" [(ngModel)]="vacancydata.Private_IP_Address" id="Private_IP_Address" name="Private_IP_Address" ngModel>
                                                                                           
                                            </div>
                                        </div>

                                     
                                        <button mat-button matStepperPrevious>Back</button>
                                        <button mat-button matStepperNext>Next</button>

                                        <div class="row">
                                            <div class="col-md-6">
                                              <button mat-button matStepperPrevious>Back</button>
                                            </div>
                                            <div class="col-md-6">
                                              <button mat-button matStepperNext>Next</button>
                                            </div>
                                          </div>
                                          
                                    </div>
                                </div>
                            </mat-step>

                           
                        </mat-stepper>
                        <div
                            class="mt-2 d-flex justify-content-evenly pt-4 pb-3 rounded-top bg-white border border-1 border-dark">
                            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                            <button type="submit" class="btn btn-primary"
                                (click)="getvalueFromform(NgForm.value)">Update</button>
                        </div>

                        <div
                            class="rounded-bottom border border-dark border-1 p-1 text-center m-0 bg-dark text-light fw-bold">

                            <a class="text-light" href="#">User Manual</a> ||
                            <a class="text-light" href="#">User Instruction</a> ||
                            <small class="text-primary register-text">If Already have an account !..
                            </small>
                            <a class="text-warning" routerLink="/login" href="#"><b>Login</b></a>
                        </div>

                    </div>
                </div>

                <!-- stapper end -->


            </div>
        </form>
    </div>
</div>































