<div class="row mt-3" style="margin: 20px;">
    <h2>Dashboard</h2>

    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Student</h4>
                <p class="card-text">Some example text.</p>
                <a href="#" class="btn btn-primary">100 +</a>
              </div>
        </div>
    </div><div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Company </h4>
                <p class="card-text">Some example text.</p>
                <a href="#" class="btn btn-primary">100 +</a>
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Student Applicaton</h4>
                    <p class="card-text">Some example text.</p>
                    <a href="#" class="btn btn-primary">100 +</a>
                  </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-danger text-white">
                <div class="card-body">
                    <h4 class="card-title">Student Rejected</h4>
                    <p class="card-text">Some example text.</p>
                    <a href="#" class="btn btn-warning">100 +</a>
                  </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <h4 class="card-title">Student Short List</h4>
                    <p class="card-text">Some example text.</p>
                    <a href="#" class="btn btn-warning ">100 +</a>
                  </div>
            </div>
        </div>
   
        <div class="col-md-4 mb-3">
            <div class="card bg-success text-white">
                <div class="card-body">
                    <h4 class="card-title">Student Call Interview</h4>
                    <p class="card-text">Some example text.</p>
                    <a href="#" class="btn btn-warning">100 +</a>
                  </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card bg-info text-white">
                <div class="card-body">
                    <h4 class="card-title">Student Seleted</h4>
                    <p class="card-text">Some example text.</p>
                    <a href="#" class="btn btn-success">100 +</a>
                  </div>
            </div>
        </div>
    </div>
 
   
        <!-- Add more card columns here -->
    
</div>
