main{
  background-color: #bab9f8b2;
  height: 100%; 
}

.signup-container {
    max-width: 400px;
    margin: auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #FFA934;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  // button:hover {
  //   background-color: #0056b3;
  // }
  

  .signupbg{
    color: rgb(255, 255, 255);
    background-image: url('/assets/icons/loginpage.jpg');
  
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
  }

  .form-group {
    display: flex;
    flex-direction: column;
   
  }
  
  .form-check {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .form-check-input {
    margin-right: 10px;
  }
  

  .form-group {
    gap: 1rem; /* Optional: Adds space between buttons */
  }
  

.btn{
margin-left: 5px;
  // background-color: #fff;
}


  @media only screen and (max-width: 600px) {
    .signupbg {
      background-size: cover; /* Adjust as needed */
      background-position: center;
    }
    .d-flex{
      flex-direction: column;
      flex-wrap: wrap;
    }
  }