.status-approved {
    background-color: green;
    color: white;
  }
  
  .status-rejected {
    background-color: red;
    color: white;
  }
  
  .status-pending {
    background-color: yellow;
    color: black;
  }
  