<div class="container mt-4">
    <div class="card">
      <h5 class="card-header">Student Profile</h5>
      <div class="card-body profile-info">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/student.jpg" alt="Student Image" class="profile-picture">
          </div>
          <div class="col-md-8">
            <ul class="list-group list-group-flush" >
              <li class="list-group-item"><strong>ID:</strong> {{ user?.id }}</li>
              <li class="list-group-item"><strong>Name:</strong> {{ user?.username }}</li>
              <li class="list-group-item"><strong>Emp_Id:</strong> {{ data?.Emp_Id }}</li>
              <li class="list-group-item"><strong>Age:</strong> 20</li>
              <li class="list-group-item"><strong>Gender:</strong> Male</li>
              <li class="list-group-item"><strong>Major:</strong>Computer Science</li>
              <li class="list-group-item"><strong>GPA:</strong> 3.8</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  