<p>captchacode works!</p>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username</label>
      <input id="username" formControlName="username" type="text" />
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" />
    </div>
    <div>
      <img [src]="captchaImage" alt="CAPTCHA" />
      <button type="button" (click)="loadCaptcha()">Refresh CAPTCHA</button>
    </div>
    <div>
      <label for="captcha">CAPTCHA</label>
      <input id="captcha" formControlName="captcha" type="text" />
    </div>
    <button type="submit">Login</button>
  </form>
  <hr>
  <hr>





<!-- top nav bar -->





  <div class="headerbar container-fluid p-2">
    <div class="container border border-1 border-dark  rounded bg-white">
      <div class="img-icon header-wrapper ms-0">
        
        <div class="ms-0">
          <abbr title="RECRUITMENT PORTAL - DISTRICT NORTH BASTAR KANKER ">
        
            <img class="p-0" src="../../../assets/icons/man-pointing-with-finger-icon-on-white-vector-45240834.jpg" alt="Chhattisgarh-Govt-Logo" >
            <!-- <img class="gov-logo" src="../../assets/header-img/india-logo.png" alt="India-Govt-Logo" > -->
          </abbr>
          </div>
  
          <div  class="ms-3 user-select-none" >
              <span class=" fs-2 site-title mb-0 mt-0 pt-0 pb-0"><strong><u>K-Recruitment Portal.</u></strong></span><br>                                       
              <span class="text-success mt-0 pt-0"><strong class="text-success mt-0 pt-0">DISTRICT NORTH BASTAR KANKER.</strong></span>
            </div>
  
      </div>
      <div class="right-content ms-auto">
        <a href="https://digitalindia.gov.in/"  aria-label="छत्तीसगढ़ शासन - External Regional Language Site that opens in a new window"
        title="छत्तीसगढ़ शासन - External Regional Language Site that opens in a new window"
        onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies.');"
        target="_blank" rel="noopener noreferrer">
        <img width="200px" height="70px" class="dg-gov-logo img-fluid p-1" src="../../assets/header-img/dgi-logo.png" alt="Digital-India-Govt-Logo">          
      </a>
      </div>
    </div>
  </div>  
  
















  
<footer class="footer  bg-dark text-center mb-0 pb-0 text-light py-3 user-select-none">
  <div class="container">
    <div class="copyRights p-0 m-0">
      <strong class="fs-4 p-0"><b>जिला</b></strong>
      <hr class="mb-2 mt-2">   
      <div class="copyRightsText pb-0 mb-0">
        <div class="">Content Owned By District Administration</div>
        <p class="">© Igkv, Chhattisgarh, Developed and Hosted By <br><a href="http://www.nic.in/" target="_blank"
            onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content &amp; privacy policies.');"
            aria-label="National Informatics Centre - External site that opens in a new window"
            title="National Informatics Centre - External site that opens in a new window"
            rel="noopener noreferrer">National Informatics Centre</a>, <a href="http://meity.gov.in/" target="_blank"
            onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content &amp; privacy policies.');"
            aria-label="Ministry of Electronics &amp; Information Technology - External site that opens in a new window"
            title="Ministry of Electronics &amp; Information Technology - External site that opens in a new window"
            rel="noopener noreferrer">Ministry of Electronics &amp; Information Technology</a>, <br>Government Of India.</p>
</div>
      <div class="img mb-2 mt-0">
        <a href="https://s3waas.gov.in/"
          onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content &amp; privacy policies.');"
          aria-label="https://s3waas.gov.in/ - External site that opens in a new window"
          title="https://s3waas.gov.in/ - External site that opens in a new window" target="_blank"
          rel="noopener noreferrer">
          <img class="rounded" src="https://kanker.gov.in/wp-content/plugins/common_utility/images/S3WaaS.png"
            alt="Secure, Scalable and Sugamya Website as a Service opens a new window"></a>
          
        <a href="http://www.nic.in/"
          onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content &amp; privacy policies.');"
          aria-label="http://www.nic.in/ - External site that opens in a new window"
          title="http://www.nic.in/ - External site that opens in a new window" target="_blank"
          rel="noopener noreferrer" class="ms-3">
          <img class="rounded" src="https://kanker.gov.in/wp-content/themes/district-theme-4/images/nicLogo.png"
            alt="National Informatics Centre opens a new window"></a> 
          
        <a href="http://www.digitalindia.gov.in/"
          onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content &amp; privacy policies.');"
          aria-label="http://www.digitalindia.gov.in/ - External site that opens in a new window"
          title="http://www.digitalindia.gov.in/ - External site that opens in a new window" target="_blank"
          rel="noopener noreferrer" class="ms-3">
          <img class="rounded" src="https://kanker.gov.in/wp-content/themes/district-theme-4/images/digitalIndia.png"
            alt="Digital India opens a new window"></a>
      </div>
    </div>
  </div>
<hr class="p-0 m-0 mt-1 bg-white text-white shadow"/>
  <div class=" credit text-center p-2 pb-3"><b>Copyright © All Rights Reserved By.</b><a href="https://kanker.gov.in"><strong>Kanker.gov.in</strong></a>
  </div>
</footer>
<!-- close -->